section{
    display: flex;
    gap: 100px;
    background-color: rgb(22, 22, 22);
    height: 100%;
    width: 100%;   
}
.cart1{
    margin-top: 30px;
    padding-top: 30px;
    padding:50px 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
    color: white;
    background-color: rgb(32, 31, 31);
}
.cart1 hr{
    border-color: gray;
}
.product-item{
    display: flex;
    justify-content: space-between;
}
.product-info{
    margin-left: 40px;
}
span{
    color: lightgray;
    font-size: 18px;
}
s{
    color: gray;
}
.price{
    color: white;
    font-size: 24px;
}
button{
    color: white;
    background-color:  rgb(32, 31, 31);
    border: none;
    border: 1px solid gray;
    cursor: pointer;

}
.cart2{
    color: white;
}
.cart2 hr{
    border-color: gray;
}
.quantity{
    cursor: pointer;
    margin-left: 50px;
}
.check-button{
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    width: 300px;
    margin: 10px 0;
}
.summary-item{
    display: flex;
    font-size: 17px;
    gap: 100px;
}
.summary-item1{
    display: flex;
    gap: 135px;
    font-size: 17px;
}
.summary-item2{
    display: flex;
    gap: 160px;
    font-size: 17px;
}
.summary-itemtotal-price{
    display: flex;
    gap: 90px;
    font-size: 22px;
}